{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    
    {% if articles %}


    <table id="articles" class="table table-striped">
        <thead>
            <tr>
                <th>Articles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.nom }}</td>
                <td>{{ article.prix }}</td>
                <td>
                    <!-- Details button -->
                    <a href="/article/{{ article.id }}" class="btn btn-dark">Details</a>
                    
                    <!-- Modify button (blue) -->
                    <a href="/article/edit/{{ article.id }}" class="btn btn-primary">Modifier</a>
                    
                    <!-- Delete button -->
                    <a href="/article/delete/{{ article.id }}" class="btn btn-danger"
                       onclick="return confirm('Êtes-vous sûr de supprimer cet article ?');">
                       Supprimer
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
      
    {% else %}
        <p>Aucun articles</p>
    {% endif %}
      <div class="d-flex justify-content-between mb-3">
        <!-- Add button next to the table -->
        <a href="/article/new" class="btn btn-primary">Ajouter un Article</a>
    </div>
{% endblock %}
